
.Listgroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 32px; 
  }
  
  
  .card {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px; 
    background-color: #fff;
    transition: transform 0.2s;
    text-align: center;
  }
  
  .card:hover {
    transform: translateY(-4px);
  }
  

  .card img {
    max-width: 70%; 
    height: auto;
    width: 100%;
  }
  
  
  .card h2 {
    font-size: 1.25rem;
    margin: 8px 0;
  }
  
  
  .card p {
    font-size: 0.875rem;
    margin: 8px 0;
  }
  
  
  .card .stock {
    font-size: 0.875rem;
    font-weight: bold;
    color: #007bff;
  }
  